{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "plugin:flowtype/recommended"
    ],
    "plugins": [
        "flowtype",
        "jest"
    ],
    "rules": {
        "max-len": ["error", 120, 4],
        "func-names": ["error", "never"],
        "indent": ["error", 4],
        "key-spacing": ["error", { "align": "value" }],
        "no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": true, "ImportDeclaration": true } }],
        "no-param-reassign": 0,
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        "no-new": 0
    },
    "env": {
        "browser": true,
        "jest/globals": true,
        "jest": true,
        "jquery": true
    }
}
